*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-size: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

ol,
ul {
	list-style: none;
}

ul[class],
ol[class] {
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

h2 {
	font-family: "Forum", cursive;
	font-size: 3em;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 400;
}

h3 {
	font-family: "Forum", cursive;
	color: #000;
	font-size: 35px;
	font-weight: 400;
	text-transform: uppercase;
}

svg {
	flex-shrink: 0;
}

.black-bg {
	width: 100%;
	background-color: #000;
	color: #fff;
}

.white-bg {
	width: 100%;
	background-color: #fff;
	color: #000;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.border-line {
	width: 100%;
	height: 0px;
	border-top: 3px solid #710707;
	margin-top: 25px;
}

/*HEADER*/

header {
	min-height: 128px;
}

.header {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 78px;
	padding-bottom: 20px;
}

.logo {
	width: 15.9%;
	display: flex;
	justify-content: space-between;
}

.logo__name {
	letter-spacing: 0.3em;
	font-family: "Forum", cursive;
}

.nav {
	width: 66.81%;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.nav__list-item {
	font-size: 22px;
}

.nav__list-item:hover {
	transform: scale(1.2);
	transition-duration: 300ms;
}

/*Welcome*/

.welcome {
	min-height: 822px;
	/* position: relative; */
	background-image: url(./assets/images/Louvre.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 1215px 100%;
}

/* .welcome__img {
	max-width: 1215px;
	max-height: 817px;
	margin-bottom: 5px;
	position: absolute;
	left: 705px;
} */

.welcome__description {
	max-width: 635px;
	padding-top: 193px;
	/* position: relative; */
}

.description__title {
	font-weight: 300;
}

.description__text {
	margin-bottom: 75px;
	font-weight: 300;
	font-size: 40px;
	line-height: 54px;
}

.welcome__btn {
	width: 360px;
	height: 75px;
	background: #710707;
	border-radius: 10px;
}

.welcome__btn:hover {
	background: #a55050;
}

/*Virtual tour*/

.virtual {
	min-height: 1625px;
}

.virtual__title {
	color: #9d8665;
	padding-top: 75px;
}

.virtual__container {
	min-height: 1232px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 121px;
}

.virtual-item {
	width: 30.56%;
	height: 378px;
	margin-bottom: 43px;
}

.virtual-item:last-child {
	margin-bottom: 0;
}

.virtual-item__img {
	width: 440px;
	height: 265px;
	margin-bottom: 20px;
}

.virtual-item__img img {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.virtual-item__title {
	margin-bottom: 7px;
}

.virtual-item__line {
	width: 300px;
	height: 0px;
	border-bottom: 2px solid #710707;
	margin-bottom: 7px;
}

.virtual-item__place {
	font-weight: 600;
	font-size: 15px;
}

.virtual-item__name {
	font-weight: 300;
	font-size: 15px;
}

/*PICTURE COMPARSION*/

.comparsion {
	min-height: 950px;
	display: flex;
}

.comparsion__wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}

.comparsion__description {
	max-width: 590px;
}

.comparsion__description-text {
	font-size: 40px;
	font-weight: 300;
	line-height: 65px;
	margin-top: 52px;
}

.comparsion__image {
	position: relative;
}

.comparsion__image img {
	max-width: 790px;
	min-height: 800px;
}

.comparsion__image-line {
	position: absolute;
	top: 0;
	left: 69%;
}

/*Online tour*/

.online {
	min-height: 950px;
	display: flex;
}

.online__video {
	width: 100%;
	min-height: 714px;
	margin-top: 75px;
	margin-bottom: 17px;
}

.online__description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.online__description-title {
	color: #9d8665;
	white-space: nowrap;
	margin-right: 18px;
}

.online__description-text {
	max-height: 878px;
	font-weight: 300;
}
